<h1 class="text-center mb-5">ჩვენ შესახებ</h1>

<div class="card mb-3">
  <div class="card-body">
    <p class="card-text">ჩვენი საიტი გაძლევთ საშუალებას მიიღოთ მონაწილეობა სხვადასხვა დისკუსიებში ან შექმნათ თქვენთვის სასურვლი თემები.</p>
  </div>
</div>
  <img src="/images/topics.png" class="card-img-top" alt="...">
</div> 